.git
.gitignore
.github
.env
.env.*
vendor
node_modules
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*.php
tests
*.md
docker-compose*.yml
.DS_Store
npm-debug.log
yarn-error.log
